/*
  Colors: http://getuicolors.com
*/

/* Setup */
:root {
    --black: #000000;
    --almost-black: #263238;
    --white: #ffffff;
    --almost-white: #fbfbfb;
    --grey-light: #cfd8dc;
    --grey: #b0bec5;
    --grey-medium: #78909c;
    --grey-dark: #455a64;
    --primary: #1e88e5;
    --primary-dark: #1976d2;
    --secondary: #cfd8dc;
    --secondary-dark: #b0bec5;
    --red: #ef4836;
  }
  
  * {
    position: relative;
    box-sizing: border-box;
  }
  
  body {
    margin: 0;
    font-family: sans-serif;
    font-size: 18px;
    line-height: 28px;
    color: var(--black);
    background: var(--grey-light);
  }
  
  /* Typography */
  .center {
    text-align: center;
  }
  
  h1 {
    margin: 0.5em 0 1em;
    font-size: 26px;
    line-height: 1.2;
    color: var(--almost-black);
  }
  
  h2 {
    margin: 0.5em 0 1em;
    font-size: 20px;
    line-height: 1.2;
    color: var(--grey-dark);
  }
  
  p {
    margin: 24px 0;
  }
  
  /* Cards */
  .card-wrapper {
    margin: 0 auto;
    padding: 90px 30px;
    flex-wrap: wrap;
    justify-content: center;
    display: flex;
  }
  
  .card {
    margin: 0 30px 60px;
    padding: 20px 40px;
    width: 460px;
    box-shadow: 0 8px 26px -4px rgba(0, 0, 0, 0.15);
    border-radius: 5px;
    background: var(--white);
  }
  
  @media only screen and (max-width: 520px) {
    .card-wrapper {
      padding: 30px 0 0;
    }
  }
  
  @media only screen and (max-width: 520px) {
    .card {
      margin: 0 0 30px;
      width: 100%;
      border-radius: 0;
    }
  }
  
  /* Forms */
  form {
    transition: opacity 0.15s ease;
  }
  
  form.loading {
    pointer-events: none;
    opacity: 0.75;
  }
  
  label {
    margin: 0 0 2px;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 1px;
    color: var(--grey-medium);
    display: block;
  }
  
  .field {
    margin: 0 0 24px;
    padding: 11px 16px 9px;
    width: 100%;
    font-size: 16px;
    line-height: 26px;
    color: var(--almost-black);
    border: 1px solid var(--grey);
    border-radius: 4px;
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
    display: block;
    background: var(--almost-white);
    transition: border-color 0.15s ease;
  }
  
  .field:focus {
    border-color: var(--grey-medium);
    outline: none;
  }
  
  .error {
    margin: 0;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    color: var(--red);
  }
  
  .error--hidden {
    display: none;
  }
  
  /* Buttons */
  .btn {
    margin: 0 0 24px;
    padding: 11px 30px 10px;
    font-size: 14px;
    line-height: 24px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 600;
    text-decoration: none;
    color: var(--white);
    border: none;
    border-radius: 4px;
    outline: none;
    cursor: pointer;
    display: inline-block;
    background: var(--primary);
    transition: color 0.15s ease, background-color 0.15s ease;
  }
  
  .btn:hover {
    background: var(--primary-dark);
  }
  
  .btn--secondary {
    color: var(--almost-black);
    background: var(--secondary);
  }
  
  .btn--secondary:hover {
    background: var(--secondary-dark);
  }
  
  input[type="submit"] {
    margin: 34px auto 24px;
    display: block;
  }
  
  .topnav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 20px;
    background-color: var(--almost-white);
    color: var(--almost-black);
  }
  
  #title {
    font-weight: bold;
    font-size: 24px;
  }
  
  .topnav a {
    text-decoration: none;
    color: var(--almost-black);
    font-size: 14px;
    padding: 8px 15px;
    border-radius: 4px;
    transition: background-color 0.3s;
    background-color: var(--grey-light);
  }
  
  .topnav a.active,
  .topnav a:hover {
    background-color: var(--grey);
  }
  
  .user-container {
    display: flex;
    align-items: center;
  }
  
  .user-container #topnav-username {
    margin-right: 30px;
    font-size: 16px;
    color: var(--almost-black);
    font-weight: bold;
  }
  
  .dashboard-container {
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh; /* Adjust based on actual content */
  }
  
  .form-container {
    background-color: #fff;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 500px;
    width: 100%;
  }
  
  .form-container h2 {
    color: #333;
    margin-bottom: 20px;
  }
  
  .form-container form {
    display: flex;
    flex-direction: column;
  }
  
  .form-container label {
    margin-bottom: 5px;
  }
  
  .form-container input[type="text"],
  .form-container textarea,
  .form-container select {
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .form-container button {
    padding: 10px 15px;
    background-color: #1e88e5;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .form-container button:hover {
    background-color: #1976d2;
  }
  
  .radio-button {
    display: flex;
    align-items: center;
  }
  
  .radio-button label {
    margin-left: 8px;
  }
  
  .question-count-container {
    margin-bottom: 5px;
  }
  
  
  #popup {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ccc;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 1000;
  }
  
  #overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 999;
  }
  
  /* for /practice/ */
  #question-container {
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    border-radius: 8px;
    text-align: center;
  }
  
  #question-num {
    font-size: 1.5em;
    margin-bottom: 10px;
  }
  
  #question-content {
    background-color: #f8f8f8;
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-bottom: 20px;
  }
  
  #next-question-btn {
    background-color: var(--primary);
    color: white;
    padding: 10px 20px;
    font-size: 1em;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  #timer-display {
    color: black;
    padding: 10px 20px;
    font-size: 1em;
    border: none;
    border-radius: 5px;
    text-align: center;
  }